# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\jerbo\PycharmProjects\M-todos-Num-ricos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.pyc
*~
__pycache__
env
db.sqlite3
/static
.DS_Store
.idea