<!DOCTYPE html>
<html>
<head>
	<title>How to Design Login & Registration Form Transition</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cont">
    <div class="form sign-in">
      <h2>Login Cliente</h2>
      <label>
        <span>Email</span>
        <input type="email" name="email">
      </label>
      <label>
        <span>Contraseña</span>
        <input type="password" name="password">
      </label>
      <button class="submit" type="button">Login</button>
      <p class="forgot-pass">Olvido su Contraseña?</p>

      <div class="social-media">
        <ul>
          <li><img src="images/facebook.png"></li>
          <li><img src="images/twitter.png"></li>
          <li><img src="images/linkedin.png"></li>
          <li><img src="images/instagram.png"></li>
        </ul>
      </div>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>No esta Registrado?</h2>
          <p>Si no se encuentra registrado, acceda aqui, y llene los datos correspondientes.</p>
        </div>
        <div class="img-text m-in">
          <h2>Ya se encuentra registrado?</h2>
          <p>Si ya se encuentra registrado, proceda a logearse con su correo y contraseña</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Registro</span>
          <span class="m-in">Login</span>
        </div>
      </div>
      <div class="form sign-up">
        <h2>Registro de Cliente</h2>
        <label>
          <span>Nombres</span>
          <input type="text">
        </label>
        <label>
          <span>Email</span>
          <input type="email">
        </label>
        <label>
          <span>Contraseña</span>
          <input type="password">
        </label>
        <label>
          <span>DNI</span>
          <input type="number">
        </label>
        <button type="button" class="submit">Registrarse</button>
      </div>
    </div>
  </div>
<script type="text/javascript" src="script.js"></script>
</body>
</html>