{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Comparar Locales</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/busquedaLocales.css">
  
</head>
<body>

  <header class="header content">
    <div class="header-video">
      <video src="../static/videos/video.mp4" autoplay loop></video>
    </div>
  </header>
  <section class="top-part">
    <div class="cont" style="width: 1250px;  height:570px;">
      <div class="form sign-in">
        <table class="tabla-datos" style="width: 1110px; margin:auto; height:370px;">
			<thead>
				<tr> 
					<th class= "uno" colspan="2">CLINICA SAN JUAN DE DIOS</th>
					<th colspan="2">CLINICA VALLESUR</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Telefono</th>
					<td>970306519</td>
					<th>Telefono</th>
					<td>970306519</td>
				</tr>
				<tr>
					<th>Correo</th>
					<td>CLINICASANJUANDEDIOS@gmail.com</td>
					<th>Correo</th>
					<td>CLINICAVALLESUR@gmail.com</td>
				</tr>
				<tr>
					<th>Institucion</th>
					<td>165,3</td>
					<th>Institucion</th>
					<td>165,3</td>
				</tr>
				<tr>
					<th>Categoria</th>
					<td>PRIVADO</td>
					<th>Categoria</th>
					<td>PRIVADO</td>
				</tr>
				<tr>
					<th>Nivel</th>
					<td>2</td>
					<th>Nivel</th>
					<td>2</td>
				</tr>
				<tr>
					<th>Region</th>
					<td>AREQUIPA</td>
					<th>Region</th>
					<td>AREQUIPA</td>
				</tr>
				<tr>
					<th>Cilindros Totales</th>
					<td>197</td>
					<th>Cilindros Totales</th>
					<td>160</td>
				</tr>
				<tr>
					<th>Capacidad de oxigeno</th>
					<td>6.166 m3</td>
					<th>Capacidad de oxigeno</th>
					<td>4.286 m3</td>
				</tr>
				<tr>
					<th>Precio</th>
					<td>25 soles</td>
					<th>Precio</th>
					<td>15 soles</td>
				</tr>
			</tbody>    
		</table>
		<br><br><br>
		<div >
			<center>
				  <button class="submit" type="btn" style="margin: auto;display: inline-block;"><a href="../accounts/reservacion" style="color: white; text-decoration: none;">Reservar</a></button>
				  <button class="submit" type="btn" style="margin: auto;display: inline-block;"><a href="../accounts/usuarioCliente" style="color: white; text-decoration: none;">Volver a Inicio</a></button>
				  <button class="submit" type="btn" style="margin: auto;display: inline-block;"><a href="../accounts/ComparacionList" style="color: white; text-decoration: none;">Volver a Comparar</a></button>

			</center>
			
		  </div>
       </div>
      </div>
      </div>
    </div>
  </section>


<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>