{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Comparar Locales</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  
</head>
<body>

  <header class="header content">
    <div class="header-video">
      <video src="../static/videos/video.mp4" autoplay loop></video>
    </div>
  </header>
  <section class="top-part">
    <div class="cont">
      <div class="form sign-in">
        <table class="tabla-datos">
        	<tr>
	<thead>
		<tr>
		   <th>Oxin</th>
		</tr>
	</thead>
         <tbody>
		<tr>
		   <th>Nivel de Ipress</th>
		   <td>161,81</td>
		</tr>
		<tr>
		   <th>Institucion</th>
		   <td>165,3</td>
		</tr>
		<tr>
		   <th>Region</th>
		   <td>164</td>
		</tr>
		<tr>
		   <th>Cilindros Totales</th>
		   <td>160,6</td>
		</tr>
		<tr>
		   <th>Capacidad de oxigeno</th>
		   <td>158,46</td>
		</tr>
		<tr>
		   <th>Total de Plantas</th>
		   <td>160,7</td>
		</tr>
		<tr>
		   <th>Telefono</th>
		   <td>151,7</td>
		</tr>
		<tr>
		<th>Correo</th>
                   <td>151,7</td>
                </tr>
		<tr>
                   <th>Precio</th>
                   <td>151,7</td>
                </tr>

		</tbody>    
          </tr>
                  	<th
	<thead>
		<tr>
		   <th>Oxin</th>
		</tr>
	</thead>
         <tbody>
		<tr>
		   <th>Nivel de Ipress</th>
		   <td>161,81</td>
		</tr>
		<tr>
		   <th>Institucion</th>
		   <td>165,3</td>
		</tr>
		<tr>
		   <th>Region</th>
		   <td>164</td>
		</tr>
		<tr>
		   <th>Cilindros Totales</th>
		   <td>160,6</td>
		</tr>
		<tr>
		   <th>Capacidad de oxigeno</th>
		   <td>158,46</td>
		</tr>
		<tr>
		   <th>Total de Plantas</th>
		   <td>160,7</td>
		</tr>
		<tr>
		   <th>Telefono</th>
		   <td>151,7</td>
		</tr>
		<tr>
		<th>Correo</th>
                   <td>151,7</td>
                </tr>
		<tr>
                   <th>Precio</th>
                   <td>151,7</td>
                </th>

		</tbody>    
          </td>
        </table>
       </div>
      </div>
      </div>
    </div>
  </section>


<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
