{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SISOX</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/busquedaLocales.css' %}">
        <link rel="stylesheet" href="{% static 'css/noticias.css' %}">
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>

        
        <div class="overlay"></div>
        <section class="top-part">
          <video controls autoplay loop>
            <source src="../static/videos/video.mp4" type="video/mp4">
            <source src="../static/videos/video.ogg" type="video/ogg">
          </video>
        </section>
        <section class="cd-hero">

          <div class="cd-slider-nav">
            <nav>
              <span class="cd-marker item-1"></span>
              <img id="logo2" src="../static/img/LogoPrincipal (1).png" style="left: 20%;">
              <ul>
                <li class="selected"><a href="#0"><div class="image-icon"><img src="../static/img/home-icon.png"></div><h6>Principal</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="../static/img/about-icon.png"></div><h6>Plantas de <br>Oxigeno</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="../static/img/featured-icon.png"></div><h6>Comparación <br>de locales</h6></a></li>
                <li><a href="#0"><div class="image-icon"><img src="../static/img/contact-icon.png"></div><h6>Contáctanos</h6></a></li>
                <!--<li><a href="#0"><div class="image-icon"><img src="../static/img/projects-icon.png"></div><h6></h6></a></li> -->
              </ul>
              <div class="primary-button" >
					<h1 style="color: white ;">Bienvenido ,{{nombreUsuario}}</h1>
					<a href="/accounts/logout">Logout</a>
              </div>
            </nav> 
          </div> <!-- .cd-slider-nav -->

          <ul class="cd-hero-slider">

            <li class="selected">
              <div class="heading">
                
                </div>
              </div>
              <div class="cd-full-width first-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content first-content">
                        <h4> Noticias sobre el COVID-19</h4>
                        <p>En esta seccion se podra ver todas las noticias dadas sobre el tema del COVID-19, como vacunaciones,
                           noticias nuevas del Gobierno, estados de alerta de diferentes ciudades y regiones. Las noticias importantes
                           se actualizaran constantemente y tendran una valoracion buena para todos los usuarios de este perfil.
                        </p>
                        <div class="primary-button">
                          <a href="#">Actualizaciones</a>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="blog-card">
                    <div class="meta">
                      <div class="photo"><img src="https://cdn.www.gob.pe/uploads/document/file/2015262/standard_Personas%20viviendo%20con%20VIH%20reciben%20segunda%20dosis%20de%20vacuna%20contra%20la%20COVID-19.jpeg"></div>
              
                    </div>
                    <div class="description">
                      <h1>COVID-19: este es el cronograma de vacunación para personas de 12 años a más en el Perú</h1>
                      <h2>Diario: Gestion - Peru</h2>
                      <p> El Ministerio de Salud (Minsa) reveló el cronograma de vacunación contra el coronavirus por grupo etario hasta fin de año. En conferencia de prensa, el titular de Salud, Óscar Ugarte,
                        detalló qué grupos etarios se vacunarán en los próximos meses, entre ellos, las personas de 12 a 39 años.</p>
                      <p class="read-more">
                        <a href="#">Leer Mas</a>
                      </p>
                    </div>
                  </div> 
                  <div class="blog-card alt">
                    <div class="meta">
                      <div class="photo"><img src="https://portal.andina.pe/EDPmedia/fotografia/2021/01/25/53005_Webp.net-resizeimage%20(21).jpg"></div>
                      <ul class="details">
                        
                        </li>
                      </ul>
                    </div>
                    <div class="description">
                      <h1>COVID-19: Minsa afirma que 90% de denuncias de suplantación de identidad durante vacunación ya fueron atendidase</h1>
                      <h2>Diario: El Comercio Peru</h2>
                      <p>El viceministro de Salud Pública, Gustavo Rosell, informó que el Ministerio de Salud (Minsa) atendió a la fecha unas 100 denuncias de suplantación de identidad en el proceso de vacunación contra el COVID-19 que se desarrolla en el país.</p>
                      <p class="read-more">
                        <a href="#">Leer Mas</a>
                      </p>
                    </div>
                  </div>
                  <div class="blog-card">
                    <div class="meta">
                      <div class="photo"><img src="https://montevideonight.com/images/noticias/290321235340_qHWAzx7UnU82TehtWTNdKM-480-80.jpg"></div>
                      <ul class="details">
                        <li class="author"><a href="#">John Doe</a></li>
                        <li class="date">Aug. 24, 2015</li>
                        <li class="tags">
                          <ul>
                            <li><a href="#">Learn</a></li>
                            <li><a href="#">Code</a></li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="description">
                      <h1>Coronavirus: las dudas sobre la eficacia de las vacunas chinas (y cómo se explica el aumento de casos en países que las utilizan)</h1>
                      <h2>Diario: BBC</h2>
                      <p>Las dos principales vacunas chinas contra la covid-19 han estado en medio de algunas noticias negativas recientemente: aumento de las infecciones e incluso algunas muertes entre las poblaciones vacunadas con Sinovac y Sinopharm.
                        </p>
                      <p class="read-more">
                        <a href="#">Leer Mas</a>
                      </p>
                    </div>
                  </div>
                  <div class="blog-card alt">
                    <div class="meta">
                      <div class="photo"><img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/1800x1200_virus_3d_render_red_03_other.jpg?resize=*:350px"></div>
                      <ul class="details">
                        <li class="author"><a href="#">Jane Doe</a></li>
                        <li class="date">July. 15, 2015</li>
                        <li class="tags">
                          <ul>
                            <li><a href="#">Learn</a></li>
                            <li><a href="#">Code</a></li>
                            <li><a href="#">JavaScript</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="description">
                      <h1>Vacunatón para adultos de 45 y 46 años: fecha, hora y lugar de la segunda jornada de vacunación</h1>
                      <h2>Diario: Gestion Peru</h2>
                      <p>Según el Ministerio de Salud (Minsa), en la primera Vacunatón se logró aplicar 239,439 dosis de la vacuna contra el COVID-19, superando la meta de 200,000 dosis que se habían propuesto las autoridades sanitarias en el país.</p>
                      <p class="read-more">
                        <a href="#">Leer Mas</a>
                      </p>
                    </div>
                  </div>

                
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <div class="primary-button" >
                  
                </div>
              </div>
              <div class="cd-half-width second-slide">   
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content second-content">
                        <div class="row">
                          <div class="col-md-11 left-image">
                            <center>
                              <table>
                                <caption></caption>
                                <thead>
                                  <tr>
                                    <th colspan="2">Empresa</th>
                                    <th>Departamento</th>
                                    <th>Distrito</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="imagen"><img src="../static/img/oxyman.gif"></td>
                                    <td>Oxyman</td>
                                    <td>Arequipa</td>
                                    <td>Characato</td>
                                    <td>
                                      <div>
                                        <a href="reservacion" style="margin: 20px" class="reserva-button">Reservación</a>
                                        <a href="#" class="reserva-button">Detalles</a>
                                      </div>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td class="imagen"><img src="../static/img/LOGO_UNSA.png"></td>
                                    <td>UNSA</td>
                                    <td>Arequipa</td>
                                    <td>Zamácola</td>
                                    <td>
                                      <div>
                                        <a style="margin: 20px" class="reserva-button">Reservación</a>
                                        <a href="#" class="reserva-button">Detalles</a>
                                      </div>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td class="imagen"><img src="../static/img/Oxigeno PSA.jpg"></td>
                                    <td>Oxigeno PSA</td>
                                    <td>Arequipa</td>
                                    <td>Cayma</td>
                                    <td>
                                      <div>
                                        <button style="margin: 20px" class="reserva-button">Reservación</button>
                                        <a href="#" class="reserva-button">Detalles</a>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                                <br><br>
                              </table>
                            </center> 
                          </div>
                        </div>   
                       
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <div class="primary-button" >
                 
                </div> 
              </div>
              <div class="cd-half-width third-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content third-content">
                        <div class="row">
                          <div class="col-md-12 left-image">
                            <center>
                              <table>
                                <caption></caption>
                                <thead>
                                  <tr>
                                    <th colspan="2">Empresa</th>
                                    <th>Departamento</th>
                                    <th>Distrito</th>
                                    <th>Selecciones para Comparar</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="imagen"><img src="../static/img/oxyman.gif"></td>
                                    <td>Oxyman</td>
                                    <td>Arequipa</td>
                                    <td>Characato</td>
                                    <td>
                                      <div>
                                        <input type="checkbox" style="width: 60%;">
                                      </div>
                                    </td>
                                  </tr>
    
                                  <tr>
                                    <td class="imagen"><img src="../static/img/LOGO_UNSA.png"></td>
                                    <td>UNSA</td>
                                    <td>Arequipa</td>
                                    <td>Zamácola</td>
                                    <td>
                                      <div>
                                        <input type="checkbox" style="width: 60%;">
                                      </div>
                                    </td>
                                  </tr>
    
                                  <tr>
                                    <td class="imagen"><img src="../static/img/Oxigeno PSA.jpg"></td>
                                    <td>Oxigeno PSA</td>
                                    <td>Arequipa</td>
                                    <td>Cayma</td>
                                    <td>
                                      <div>
                                        <input type="checkbox" style="width: 60%;">
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                                <br><br>
                              </table>
                              <br><br>
                              <button style="margin: 20px" class="reserva-button"> <a href="../accounts/compararLocales" style="color: white; text-decoration: none;"> <h5>Comparar</h5> </a> </button>
                            </center>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <div class="primary-button" >
                  
                </div>
              </div>
              <div class="cd-half-width fourth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fourth-content">
                        <div class="row">
                          <h3>Si deseas contactarnos presiona en el siguiente botón y llenea el formulario</h3><br>
                          <div class="primary-button">
                           <a href="contactanos">Contactanos</a>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>

            <li>
              <div class="heading">
                <div class="primary-button" >
                </div> 
              </div>
              <div class="cd-half-width fivth-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content fivth-content">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="left-info">
                              <p>Maecenas imperdiet sagittis lacus, ut consequat velit iaculis id. Praesent eu consequat urna. Morbi justo dolor, ornare sed lorem et, auctor iaculis ligula.
                              <br><br>
                              <em>5566 Donec mollis libero<br>at metus luctus 10660</em>
                              </p>
                              <ul class="social-icons">
                                <i><a href="#"><i class="fa fa-facebook"></i></a></i>
                                <i><a href="#"><i class="fa fa-twitter"></i></a></i>
                                <i><a href="#"><i class="fa fa-linkedin"></i></a></i>
                                <i><a href="#"><i class="fa fa-rss"></i></a></i>
                                <i><a href="#"><i class="fa fa-behance"></i></a></i>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="row">
                              <form id="contact" action="" method="post">
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-6">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message" required=""></textarea>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message</button>
                                  </fieldset>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>
          </ul> <!-- .cd-hero-slider -->
        </section> <!-- .cd-hero -->


        <footer>
          <p></p>
        </footer>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>
