</html>{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Iniciar Sesión</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link rel="stylesheet" href="{% static 'css/busquedaLocales.css' %}">
   
  
</head>
<body>

  <header class="header content">
    <div class="header-video">
     <video src="../static/videos/video.mp4" autoplay loop></video>
    </div>

  </header>
  
  <section class="top-part">
    <div class="cont">
      
    <table>
        <tr>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Region</th>
            <th>Provincia</th>
            <th>Distrito</th>
        </tr>
        {%for a in empresas%}
        <tr>
            <td>{{ a.nombres }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div>
                <button style="margin: 20px" class="desabilitado">Reservación</button>
                <a href="#" class="reserva-button">Detalles</a>
              </div>
            </td>
        
        </tr>
        {%endfor%}
    </table>
    
      <div >
      
        <button class="submit" type="btn" style="margin-left: 350px;margin-right: 80px;margin-top: 100px;margin-bottom: 0px;"><a href="../" style="color: white; text-decoration: none;">Volver a Inicio</a></button>
      </div>
  </div>
  </section>


<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
