{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Iniciar Sesión</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

  <header class="header content">
    <div class="header-video">
      <div class="overlay"></div>
      <video src="../static/videos/video.mp4" autoplay loop></video>
    </div>
    
  </header>
  
  <section class="top-part">
    <div class="cont">
      <div class="form sign-in">
        <form action="loginUsuario" method="POST" style="width: 490px;">
           <h2>¡Bienvenido! Inicia Sesión</h2>
            
            <label>
              {%csrf_token%}
              <span>Nombre de Usuario</span>
              <input type="text" name="username" required>
            </label>
            <label>
              {% csrf_token %}
              <span>Email</span>
              <input type="email"  name="email" requiered>
            </label>
            <label>
              {%csrf_token%}
             <span>Contraseña</span>
              <input type="password" name="password" required>
            </label>
            <br><br>
            <button class="submit" type="btn">Iniciar Sesión</button>
           <p class="forgot-pass">¿Olvidó su Contraseña?</p>
        </form>
        
  
        
      </div>

      <div class="sub-cont" style="left: 540px;">
        <div class="img">
        </div>
      </div>
    </div>
  </section>

  
<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>