{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Registro de Usuarios</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header content">
    <div class="header-video">
      <video src="../static/videos/video.mp4" autoplay loop></video>
    </div>
  </header>
  
  <div class="cont">
    <div class="form sign-in">
      <h2>Registro de Cliente</h2>
        <label>
          <span>Nombres</span>
          <input type="text">
        </label>
        <label>
          <span>Email</span>
          <input type="email">
        </label>
        <label>
          <span>Contraseña</span>
          <input type="password">
        </label>
        <label>
          <span>DNI</span>
          <input type="number">
        </label>
        <button type="button" class="submit">Registrarse</button>
      
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>Usted es un administrador?</h2>
          <p>Se registrara como administrador y tendra funcionalidades exclusivas para su negocio.</p>
        </div>
        <div class="img-text m-in">
          <h2>Usted es un Cliente?</h2>
          <p>Se registrara como un usuario cliente, podra acceder a las funcionalidades brindadas por un administrador de un negocio.</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Registro</span>
          <span class="m-in">Registro</span>
        </div>
      </div>
      <div class="form sign-up">
        <h2>Registro de Administrador</h2>
        <label>
          <span>Nombres</span>
          <input type="text">
        </label>
        <label>
          <span>Encargados</span>
          <input type="text">
        </label>
        <label>
          <span>Contraseña</span>
          <input type="password">
        </label>
        <label>
          <span>Direccion</span>
          <input type="number">
        </label>
        <button type="button" class="submit">Registrarse</button>
      </div>
    </div>
  </div>
<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>